<div>

  <h3>Panel:</h3>
  <br/>

  <!-- Vent Output -->
  <mat-label>
    <h4>Vent Output:</h4>
  </mat-label>
  BPM: {{ventOutput.bpm}}
  <br/>
  Pressure Absolute: {{ventOutput.pressureAbsolute}}
  <br/>
  Compression Percentage: {{ventOutput.compressionPercentage}}
  <br/>
  Inspirium Pressure: {{ventOutput.inspiriumPressure}}
  <hr/>

  <!-- Loading -->
  <mat-label>
    <h4>Loading</h4>
  </mat-label>
  <br/>
  {{ventOutputLoading ? 'Loading is true' : 'Loading is false'}}
  <hr/>

  <!-- Success -->
  <mat-label>
    <h4>Success:</h4>
  </mat-label>
  <br/>
  {{ventOutputSuccess ? ventOutputSuccess.defaultMessage : 'There is no success message'}}
  <hr/>

  <!-- Loading -->
  <mat-label>
    <h4>Error:</h4>
  </mat-label>
  <br/>
  {{ventOutputError ? ventOutputError.defaultMessage : 'There is no error message'}}

</div>
